* {
    margin: 0;
    padding: 0;
}
.name {
    float: right;
    padding: 20px;
}

body {
    background-image: url("images/yellow-background.png");
    font-family:  Cursive;
}
#showcase {
    border-radius: 20px;
}
.card {
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 8px 10px black;
    margin: 0px 900px 0px 40px;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#image {
    border-radius: 75px;
}
.yellow {
    background-color: yellow;
    padding: 5px 15px 5px 15px;
    margin: 2px 255px 2px 2px;
    border-radius: 15px;
}
.hover-yellow {
    color: rgb(179, 162, 118 );
}
.hover-yellow:hover {
    color: black;
    background-color: skyblue;
    opacity: 1;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 160px;
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(115, 81, 91);
    cursor: pointer;
}
p  {
    float: right;
}